<div class="container-fluid">
  <div class="row bg-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="menu">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active" translate>nav.home</a></li>
          <li><a routerLink="/federacao" routerLinkActive="active" translate>nav.federation</a></li>
          <li><a routerLink="/clubes" routerLinkActive="active" translate>nav.clubs</a></li>
          <li><a routerLink="/exposicoes" routerLinkActive="active" translate>nav.expositions</a></li>
          <!-- <li><a routerLink="/gestfop"  translate>nav.gestfop</a></li> -->
          <li><a translate>nav.links</a>
            <ul class="submenu">
              <li><a href="https://appfop.fop.com.pt" target="_blank"  translate>nav.gestfop</a></li>
            </ul>
          </li>
          <li><a href="#" translate>nav.news</a></li>
          <!-- <li><a routerLink="/ctj" translate>nav.ctj</a></li> -->
          <!-- <li><a routerLink="/contactos" routerLinkActive="active" translate>nav.contacts</a></li> -->
          <!-- <li><a routerLinkActive="active-login" translate>login.sign</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>