<div class="container-fluid">
  <div class="row bg-color">
    <div class="col-lg-7">
      <div class="menu">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active" translate>nav.home</a></li>
          <li><a routerLink="/federacao" routerLinkActive="active" translate>nav.federation</a></li>
          <li><a routerLink="/clubes" routerLinkActive="active" translate>nav.clubs</a></li>
          <li><a routerLink="/exposicoes" routerLinkActive="active" translate>nav.expositions</a></li>
          <!-- <li><a routerLink="/gestfop"  translate>nav.gestfop</a></li> -->
          <li><a href="https://appfop.fop.com.pt" target="_blank"  translate>nav.gestfop</a></li>
          <!-- <li><a routerLink="/ctj" translate>nav.ctj</a></li> -->
          <li><a routerLink="/contactos" routerLinkActive="active" translate>nav.contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-5 login">
      <ul>
        <li><a routerLinkActive="active-login" translate>login.sign</a></li>
      </ul>
      <!-- <span translate>login.sign</span> -->
    </div>
  </div>
</div>