@import '../../styles.scss';

.fixed-header {
    position:fixed;
    z-index: 1000;
}
.bg-color {
    background-color: $bg-secondary-color;
}

.logo {
    background-color: $bg-primary-color;
    width: 5rem;
    display: inline-block;
}

.logo img {
    height: 4.5rem;
    margin: 0.25rem;
}

.menu{
    background-color: $bg-secondary-color;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 5rem;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: $bg-primary-color;
    font-size: 1.3em;
    display: block;
    margin: 1.5rem 1rem;
}

.menu ul li a:hover {
    border-bottom: 2px solid $bg-primary-color;
    text-decoration: none
}

.active {
    border-bottom: 2px solid $bg-primary-color;
    text-decoration: none;
}
