<div class="container-fluid left-padding-15">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="h3" translate>statures.title</h3>
    </div>
    <div class="col-lg-12">
      <p>{{text}}</p>
    </div>
    <div class="col-lg-12 statures">
      <ul>
        <li><a href="../../assets/pdf/estatutos/FOP_estatutos.pdf" target="_blanck" translate><fa class="right-margin" name="arrow-right"></fa>statures.link.fop</a></li>
        <li><a href="../../assets/pdf/estatutos/Regulamento_Interno_FOP.pdf" target="_blanck" translate><fa class="right-margin" name="arrow-right"></fa>statures.link.intern</a></li>
        <li><a href="../../assets/pdf/estatutos/Regulamento_Desportivo_FOP.pdf" target="_blanck" translate><fa class="right-margin" name="arrow-right"></fa>statures.link.sport</a></li>
        <li><a href="../../assets/pdf/estatutos/Regulamento_Disciplinar_FOP.pdf" target="_blanck" translate><fa class="right-margin" name="arrow-right"></fa>statures.link.disciplinar</a></li>
      </ul>
    </div>
  </div>
</div>