<div class="container top-margin-2">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="h3" translate>clubs.title</h3>
    </div>
  </div>
  <div class="row clubSelection">
    <div class="col-lg-1" *ngFor="let club of allClubs">
      <div (click)="showClub(club)" class="club">
        <img src="../../assets/{{club.imagem}}" (click)="show(club)"  alt="{{club.sigla}}" class="mx-auto d-block"/>
        <div class="clubHover">
          <h6 class="h6">{{club.sigla}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-club [club]="currentClub"></app-club>
    </div>
  </div>
</div>
