@import '../../styles.scss';

:host {
    flex: 1;
}

.fullscreen {
    height: 120vh;
}

.title {
  text-align: center;
}


.clubSelection {
  margin: 1rem 1.95rem;
  color: $white;
  border-radius: 5px;
  background-color: $white;
  display: inline-block;
  text-align: center;
}

.clubSelection h5{
  text-align: center;
  color: #000000;
}

.clubSelection img {
  max-width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.separator {
  margin: 4rem auto;
  border-bottom: 1px solid $bg-secondary-color;
  width: 100rem;
  text-align: center;
}

.separator-vertical {
  border-right: 1px solid $bg-secondary-color;
  width: 1px;
  height: 100%
}

.data-logo img{
  width: 10rem;
  margin: 0 auto;
  display: block;
}

.data-title h1 {
  text-align: center;
}

.club-data-section {
  padding: 1rem;
  border: 2px solid $bg-secondary-color;
  border-radius: 5px;
  height: 100%;
}

.club-data-title {
  margin-bottom: 2rem;
}

.data {
  margin: 0.5rem 0;
}

.data div h5 {
  margin: 0;
  padding: 0.5rem 0;
}

.field-data {
  background-color: $bg-secondary-color;
  color: white;
}
