<div id="clubes" class="container-fluid">
  <div class="row">
    <div class="col-lg-12 top-margin-2 bottom-margin-2 title">
      <h2 class="h2" translate>clubs.title</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-1 clubSelection" *ngFor="let club of allClubs" (click)="showClub(club)">
        <img src="../../assets/img/img_clubes/{{club.logo}}"/>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row" *ngIf="this.currentClub !== undefined">
    <div class="col-lg-12 data-logo">
      <img class="logo" src="../../assets/img/img_clubes/{{this.currentClub.logo}}" alt="logo_{{this.currentClub.sigla}}">
    </div>
    <div class="col-lg-12 data-title">
      <h1 class="h1">{{this.currentClub.sigla}}</h1>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 bottom-margin-2 top-margin-2">
      <div class="club-data-section">
        <div class="row club-data">
          <div class="col-lg-12">
            <h3 class="h3" translate>clubs.clubDataTitle</h3>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.nome</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{this.currentClub.nome}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.federacao</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{this.currentClub.federacao.nome}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.morada</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{this.currentClub.morada}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.website</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{this.currentClub.website}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.email</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{this.currentClub.email}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 top-margin-2 bottom-margin-2" *ngFor="let administracao of administracaoClube">
      <div class="club-data-section">
        <div class="row club-data">
          <div class="col-lg-12">
            <h3 class="h3" translate>{{administracao.titulo}}</h3>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.nome</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{administracao.nome}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.email</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{administracao.email}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.contacto</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{administracao.contacto}}</h5>
          </div>
        </div>
        <div class="row data">
          <div class="col-lg-3 field-data">
            <h5 class="h5" translate>clubs.morada</h5>
          </div>
          <div class="col-lg-9">
            <h5 class="h5">{{administracao.morada}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
