<div class="row">
  <div class="col-lg-12">
    <h3 class="h3">{{exposicao.titulo}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 cartaz_exposicao">
    <img src="../../assets/img/cartaz_exposicao/{{exposicao.cartaz}}" alt="cartaz exposição">
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="h5">Fim Exposição: {{exposicao.datas.fimExposicao}}</h5>
      </div>
      <div class="col-lg-12">
        <h5 class="h5">Inicio Exposição: {{exposicao.datas.inicioExposicao}}</h5>
      </div>
    </div>
  </div>
</div>