<!-- <div class="row orgao vertical-align" *ngIf="orgao.section == 1"> -->
  <div class="col-lg-5 photo" *ngIf="orgao.section == 1">
    <img src="{{orgao.photo}}">
  </div>
  <div class="col-lg-7 data" *ngIf="orgao.section == 1">
    <h5 class="h5 role bold">{{orgao.role}}</h5>
    <h5 class="h5 name">{{orgao.name}}</h5>
    <h5 class="h5 club">{{orgao.club}}</h5>
    <h5 class="h5 email">{{orgao.email}}</h5>
  </div>
<!-- </div>
<div class="row orgao vertical-align" *ngIf="orgao.section > 1"> -->
  <div class="col-lg-2" *ngIf="orgao.section > 1">
    <h5 class="h5 role">{{orgao.role}}</h5>
  </div>
  <div class="col-lg-10" *ngIf="orgao.section > 1">
    <h5 class="h5 role">{{orgao.name}}({{orgao.club}})</h5>
  </div>
<!-- </div> -->
