<div class="row">
  <div class="col-lg-12">
    <h3 class="h3" translate>documentation.title</h3>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-10" scope="col" translate>documentation.date</th>
          <th class="w-20" scope="col" translate>documentation.title.title</th>
          <th class="w-60" scope="col" translate>documentation.description</th>
          <th class="w-5" scope="col" translate>documentation.file</th>
        </tr>        
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td scope="col">{{document.date}}</td>
          <td scope="col">{{document.title}}</td>
          <td scope="col">{{document.description}}</td>
          <td scope="col">
              <a href="{{link}}" target="_blank" class="right-margin" *ngFor="let link of document.links"><fa name="download"></fa></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

