@import 'variables';

body {
  font-family: $font-stack;
  font-size: 1em;
}

.right-margin-1 {
  margin-right: 1rem;
}

.top-margin-2 {
  margin-top: 2rem;
}

.top-margin-1 {
  margin-top: 1rem ;
}

.bottom-margin-1 {
  margin-bottom: 1rem;
}

.primary-background {
  background-color: $bg-primary-color;
  color: $white;
}

.secondary-background {
  background-color: $light-green;
  color: $bg-primary-color;
}



