@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600');

$font-stack: 'Montserrat', sans-serif;

$bg-primary-color: white;
$bg-secondary-color: #000636;

$font-color: #030e63;

$light-green: #DFD99D;
$orange: #AD7D00;
$light-red: #D45634;

$darker-blue:rgb(17, 103, 129);

$white: #FFFFFF;
$black: #000000;

