@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600');

$font-stack: 'Montserrat', sans-serif;

$bg-primary-color: #007294;
$bg-secondary-color: #0F8CA9;

$light-green: #DFD99D;
$light-orange: #F4AF44;
$light-red: #D45634;

$darker-blue:rgb(17, 103, 129);

$white: #FFFFFF;
$black: #000000;

