@import '../../styles.scss';

:host {
    flex: 1;
}

.fullscreen {
    height: 91.5vh;
    background-color: $bg-secondary-color;
}

.fop-title {
    color: $bg-primary-color;
}

.fop-title h1,
.fop-title h3 {
    text-align: center;
}

.logo-fop {
    background-color: $bg-secondary-color;
}

.text {
    color: $bg-primary-color;
}

.content-justify{
    justify-content: center;
}


.h5 {
    // margin-top: 2rem;
}
