@import '../../styles.scss';

:host {
    flex: 1;
}

.fullscreen {
    height: 92vh;
}

.fop-title {
    text-align: left;
    color: $font-color;
}

.logo-fop {
    background-color: $bg-secondary-color;
}

.logo-fop img{
   height: 20rem; 
}

.content-justify{
    justify-content: center;
}


.h5 {
    margin-top: 2rem;
}


.scroll-down {
    position:relative;
    font-size: 5em;
    top: 7rem;
    left: 35rem;
}
