@import '../../styles.scss';

:host {
    flex: 1;
}

.exposicao-title h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.img-exposicao .cartaz{
    width: 100%;
}

.img-exposicao .logo {
    width: 50%;
}

.exposicao-title {
    font-weight: 600;
}