@import '../../styles.scss';

:host {
    flex: 1;
}

.exposicao-title h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.cartaz-exposicao img {
    width: 100%;
}

.exposicao-title {
    font-weight: 600;
}